<div class="interview-accordion-item accordion-item">
	<h2 class="accordion-header" id="interview-heading-1">
		<button
			class="accordion-button interview-button d-block text-center"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#interview-1"
			aria-expanded="false"
			aria-controls="interview-1"
		>
			Microsoft 🚀
		</button>
	</h2>
	<div
		id="interview-1"
		class="accordion-collapse collapse"
		aria-labelledby="interview-heading-1"
	>
		<div class="accordion-body">
			<div class="interview-data">
				<p>
					<strong
						><i class="fa-regular fa-calendar"></i
						>&emsp;Date:&emsp;</strong
					>25/10/22
				</p>
			</div>
			<div class="students-list">
				<h5>Students List</h5>
				<form action="" method="">
					<%- include('_student-list.ejs'); %>
				</form>
			</div>
			<p>
				<i class="fa-solid fa-circle-plus"></i>
			</p>
		</div>
	</div>
</div>
