<div class="accordion-item">
	<h2 class="accordion-header" id="student-heading-1">
		<button
			class="accordion-button student-button d-block text-center"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#student-1"
			aria-expanded="false"
			aria-controls="student-1"
		>
			Meenal Chauhan 👧
		</button>
	</h2>
	<div
		id="student-1"
		class="accordion-collapse collapse"
		aria-labelledby="student-heading-1"
	>
		<div class="accordion-body">
			<img
				src="<%= assetPath('images/female-avatar.png') %>"
				alt="Student Avatar"
			/>
			<div class="student-data">
				<p><strong class="stud">ID:&ensp;</strong>15302</p>
				<p><strong class="stud">Name:&ensp;</strong>Meenal Chauhan</p>
				<p><strong class="stud">Age:&ensp;</strong>20</p>
				<p><strong class="stud">Gender:&ensp;</strong>Female</p>
				<p><strong class="stud">College:&ensp;</strong>DTU</p>
				<p><strong class="stud">Batch:&ensp;</strong>A1</p>
				<p><strong class="stud">Status:&ensp;</strong>Not Placed</p>
				<p><strong class="stud">DSA Score:&ensp;</strong>25</p>
				<p><strong class="stud">React Score:&ensp;</strong>20</p>
				<p><strong class="stud">Web Development Score:&ensp;</strong>28</p>
			</div>
			<div class="student-interviews table-responsive">
				<table class="table table-warning table-hover caption-top">
					<caption>
						Interviews
					</caption>
					<thead class="table-dark">
						<tr>
							<th scope="col">Company</th>
							<th scope="col">Date</th>
							<th scope="col">Result</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						<tr>
							<th scope="row">Microsoft</th>
							<td>25/10/22</td>
							<td>Pass</td>
						</tr>
						<tr>
							<th scope="row">Adobe</th>
							<td>22/10/22</td>
							<td>Fail</td>
						</tr>
						<tr>
							<th scope="row">Facebook</th>
							<td>20/10/22</td>
							<td>On Hold</td>
						</tr>
						<tr>
							<th scope="row">Google</th>
							<td>10/10/22</td>
							<td>Not Attended</td>
						</tr>
						<tr>
							<th scope="row">Netflix</th>
							<td>05/12/22</td>
							<td>TBD</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="delete-student">
				Delete&ensp;<i class="fa-solid fa-trash"></i>
			</button>
		</div>
	</div>
</div>

<!-- -------------- -->
<!-- Variable Items -->
<!-- -------------- -->
<!-- id="student-heading-1" -->
<!-- data-bs-target="#student-1" -->
<!-- aria-controls="student-1" -->
<!-- id="student-1" -->
<!-- aria-labelledby="student-heading-1" -->
<!-- data-bs-parent="#students" -->
<!-- -------------- -->
