<div class="student">
	<div class="form-group">
		<select class="form-select form-control" id="name" name="name" required>
			<option value="ID">Akshay Rathee</option>
			<option value="ID">Meenal Chauhan</option>
		</select>
	</div>
	<div class="form-group">
		<select
			class="form-select form-control"
			id="result"
			name="result"
			required
		>
			<option value="pass">Pass</option>
			<option value="fail">Fail</option>
			<option value="on hold">On Hold</option>
			<option value="not attended">Not Attended</option>
			<option value="TBD">To Be Decided</option>
		</select>
	</div>
	<div class="fixed hide">
		<p><strong>Name:&ensp;</strong>Meenal Chauhan</p>
		<p><strong>Status:&ensp;</strong>Pass</p>
	</div>
	<button class="add-student-interview">
		Add Student&ensp;<i class="fa-solid fa-circle-plus"></i>
	</button>
	<button class="edit-student-interview hide">
		Edit&ensp;<i class="fa-solid fa-pen-to-square"></i>
	</button>
	<button class="delete-student-interview hide">
		Delete&ensp;<i class="fa-solid fa-trash"></i>
	</button>
</div>

<!-- ---------------------------------------------------------------------- -->

<div class="student">
	<div class="form-group hide">
		<select class="form-select form-control" id="name" name="name" required>
			<option value="ID">Akshay Rathee</option>
			<option value="ID">Meenal Chauhan</option>
		</select>
	</div>
	<div class="form-group hide">
		<select
			class="form-select form-control"
			id="result"
			name="result"
			required
		>
			<option value="pass">Pass</option>
			<option value="fail">Fail</option>
			<option value="on hold">On Hold</option>
			<option value="not attended">Not Attended</option>
			<option value="TBD">To Be Decided</option>
		</select>
	</div>
	<div class="fixed">
		<p><strong>Name:&ensp;</strong>Meenal Chauhan</p>
		<p><strong>Status:&ensp;</strong>Pass</p>
	</div>
	<button class="add-student-interview hide">
		Add Student&ensp;<i class="fa-solid fa-circle-plus"></i>
	</button>
	<button class="edit-student-interview">
		Edit&ensp;<i class="fa-solid fa-pen-to-square"></i>
	</button>
	<button class="delete-student-interview">
		Delete&ensp;<i class="fa-solid fa-trash"></i>
	</button>
</div>
