//---------Header---------
header {
	background-color: var(--background-color);
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	opacity: 0.7;
	z-index: 1;
	//---------Logo---------
	#logo {
		width: 200px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		object-fit: cover;
		object-position: center;
		@media screen and (max-width: 360px) {
			width: 130px;
			height: 130px;
		}
	}
	//---------Title---------
	h1 {
		@media screen and (max-width: 360px) {
			font-size: 1.3rem !important;
		}
	}
}
