//---------Imports---------
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500&display=swap");

//---------General Styling---------
* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

//---------Root Styling :: CSS Variables---------
:root {
	--background-color: #ffe9ae;
	--header-color: #ffdba4;
	--logo-color: #000000;
	--accent-color: #ffffff;
	font-family: "Poppins", sans-serif;
}

//---------Body---------
body {
	background-color: var(--background-color);
	background-image: var(--BG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
	width: 100vw;
	min-height: 100vh;
	height: 100vh;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
		overflow: hidden;
	}
}

//---------Heading Titles---------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: var(--secondary-text-color);
}
h3 {
	color: var(--primary-text-color);
	font-size: 1.4rem;
	word-break: break-all;
}

//---------Main Content Body---------
main {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
		overflow: hidden;
	}
	@media screen and (max-height: 555px) {
		height: auto;
	}
}

//---------Media Query---------
