.jobPortal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto; }
  .jobPortal .banner {
    margin-top: 7rem;
    background-color: rgba(255, 167, 52, 0.8);
    border-radius: 10px;
    padding: 7px;
    word-spacing: 0.2rem; }
    .jobPortal .banner h2 {
      font-size: 2rem;
      font-weight: 700;
      color: var(--logo-color);
      margin: 5px 0;
      opacity: 0.8;
      text-align: center; }
