.profilePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto; }
  .profilePage #updateProfile {
    border: 2px solid var(--logo-color);
    padding: 10px;
    margin-top: 10rem;
    margin-bottom: 3.5rem;
    width: 80%;
    min-width: 270px !important;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5);
    background: rgba(255, 233, 174, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 850px) {
      .profilePage #updateProfile {
        margin-top: 10rem;
        margin-bottom: 3.5rem; } }
    @media screen and (max-height: 555px) {
      .profilePage #updateProfile {
        margin-top: 150px;
        margin-bottom: 50px; } }
    .profilePage #updateProfile form {
      width: 100%;
      height: 100%;
      min-height: 400px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profilePage #updateProfile form h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--logo-color);
        margin: 10px 0;
        opacity: 0.7;
        text-align: center;
        margin-bottom: 30px; }
        @media screen and (max-width: 850px) {
          .profilePage #updateProfile form h2 {
            margin-bottom: 1.5rem; } }
      .profilePage #updateProfile form .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2.5rem; }
        @media screen and (max-width: 800px) {
          .profilePage #updateProfile form .form-container {
            flex-direction: column;
            gap: 3rem;
            margin-top: 1rem; } }
        .profilePage #updateProfile form .form-container .upload-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
          min-width: 250px;
          min-height: 250px;
          border-radius: 10px;
          overflow: hidden;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid var(--logo-color);
          box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5); }
          @media screen and (max-width: 500px) {
            .profilePage #updateProfile form .form-container .upload-wrapper {
              min-width: 170px;
              min-height: 170px; } }
        .profilePage #updateProfile form .form-container input[type="file"],
        .profilePage #updateProfile form .form-container input[type="file"]::-webkit-file-upload-button {
          cursor: pointer; }
        .profilePage #updateProfile form .form-container .upload-wrapper input[type="file"] {
          cursor: pointer;
          font-size: 300px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0; }
        .profilePage #updateProfile form .form-container .info {
          width: 60%;
          height: 60%; }
          @media screen and (max-width: 800px) {
            .profilePage #updateProfile form .form-container .info {
              width: 100%; } }
          .profilePage #updateProfile form .form-container .info .form-group {
            margin-bottom: 1rem; }
            .profilePage #updateProfile form .form-container .info .form-group label {
              display: block;
              margin-bottom: 0.5rem;
              font-size: 1rem;
              font-weight: 600;
              color: var(--logo-color); }
            .profilePage #updateProfile form .form-container .info .form-group input {
              box-shadow: none;
              outline: none;
              border: none;
              border-radius: 0%;
              border-bottom: 1px solid var(--logo-color);
              background: transparent;
              color: var(--logo-color);
              font-weight: 400;
              letter-spacing: 0.02rem; }
              .profilePage #updateProfile form .form-container .info .form-group input::placeholder {
                color: var(--logo-color);
                opacity: 0.7; }
              .profilePage #updateProfile form .form-container .info .form-group input:focus {
                box-shadow: none;
                outline: none;
                border-bottom: 1px solid var(--logo-color); }
          .profilePage #updateProfile form .form-container .info .submit-btn {
            margin: auto;
            margin-top: 1rem;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: var(--accent-color);
            background-color: var(--logo-color);
            border: 1px solid var(--accent-color);
            border-radius: 10px;
            cursor: pointer;
            box-shadow: none;
            outline: none;
            border: none; }
            .profilePage #updateProfile form .form-container .info .submit-btn:focus {
              box-shadow: none;
              outline: none;
              border: none; }
